{% extends "stryktipset/base.html" %}

{% block body %}
<h1>{{ round.name }}</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Home Team</th>
      <th>Away Team</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    {% for row in round.rows.all %}
    <tr{% if not row.fd_object %} class="danger"{% endif %}>
      <th scope="row">{{ row.index }}</th>
      <td>{{ row.home_team }}</td>
      <td>{{ row.away_team }}</td>
      <td>{{ row.fd_object.result }}</td>
    </tr>
    </tr>
    {% endfor %}
  </tbody>
</table>

<nav>
  <ul class="pager">
    {% if prev_round %}
    <li class="previous">
      <a href="{{ prev_round.get_absolute_url }}"><span aria-hidden="true">&larr;</span> Older</a>
    </li>
    {% else %}
    <li class="previous disabled">
      <a href=""><span aria-hidden="true">&larr;</span> Older</a>
    </li>
    {% endif %}
    {% if next_round %}
    <li class="next">
      <a href="{{ next_round.get_absolute_url }}">Newer <span aria-hidden="true">&rarr;</span></a>
    </li>
    {% else %}
    <li class="next disabled">
      <a href="">Newer <span aria-hidden="true">&rarr;</span></a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
